<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div>
    <h1>Welcome to our website!</h1>
    
      <ul>
        <li><a href="/hash-function" class="button">Hash Function</a></li>
        <li><a href="/collision-attack" class="button">Collision Attack</a></li>
      </ul>
    </div>
  </body>
</html>
